<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ex2i.barcodesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".kotlin.KotlinMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Kotlin-->
        <activity android:name=".kotlin.KotlinBarcodeInitActivity" />
        <activity
            android:name=".kotlin.KotlinAnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".kotlin.KotlinBarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BarcodeTheme" />

        <activity
            android:name=".kotlin.KotlinBarcodePopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize" />

        <!--Java-->
        <activity android:name=".java.JavaMainActivity"/>
        <activity android:name=".java.JavaBarcodeInitActivity" />
        <activity
            android:name=".java.JavaAnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".java.JavaBarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BarcodeTheme" />

        <activity
            android:name=".java.JavaBarcodePopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>